In [54]:
import pandas as pd
import numpy as np

In [60]:
df=pd.read_csv('coin_Cardano.csv')
df

,SNo,Name,Symbol,Date,High,Low,Open,Close,Volume,Marketcap
0,1,Cardano,ADA,2017-10-02 23:59:59,0.030088,0.019969,0.024607,0.025932,5.764130e+07,6.288991e+08
1,2,Cardano,ADA,2017-10-03 23:59:59,0.027425,0.020690,0.025757,0.020816,1.699780e+07,5.396927e+08
2,3,Cardano,ADA,2017-10-04 23:59:59,0.022806,0.020864,0.020864,0.021931,9.000050e+06,5.686195e+08
3,4,Cardano,ADA,2017-10-05 23:59:59,0.022154,0.020859,0.021951,0.021489,5.562510e+06,5.571390e+08
4,5,Cardano,ADA,2017-10-06 23:59:59,0.021542,0.018360,0.021359,0.018539,7.780710e+06,4.806646e+08
...,...,...,...,...,...,...,...,...,...,...
1240,1241,Cardano,ADA,2021-02-23 23:59:59,1.133705,0.824145,1.098769,0.954709,1.120190e+10,2.970337e+10
1241,1242,Cardano,ADA,2021-02-24 23:59:59,1.074832,0.902583,0.954958,1.051657,8.481335e+09,3.271965e+10
1242,1243,Cardano,ADA,2021-02-25 23:59:59,1.172732,1.017986,1.051349,1.079116,8.248286e+09,3.357399e+10
1243,1244,Cardano,ADA,2021-02-26 23:59:59,1.290047,0.995150,1.080828,1.241105,1.488414e+10,3.861387e+10
1244,1245,Cardano,ADA,2021-02-27 23:59:59,1.476653,1.234138,1.242145,1.324860,1.914198e+10,4.121970e+10

In [61]:
df=df.set_index(pd.DatetimeIndex(df['Date'].values))
df

,SNo,Name,Symbol,Date,High,Low,Open,Close,Volume,Marketcap
2017-10-02 23:59:59,1,Cardano,ADA,2017-10-02 23:59:59,0.030088,0.019969,0.024607,0.025932,5.764130e+07,6.288991e+08
2017-10-03 23:59:59,2,Cardano,ADA,2017-10-03 23:59:59,0.027425,0.020690,0.025757,0.020816,1.699780e+07,5.396927e+08
2017-10-04 23:59:59,3,Cardano,ADA,2017-10-04 23:59:59,0.022806,0.020864,0.020864,0.021931,9.000050e+06,5.686195e+08
2017-10-05 23:59:59,4,Cardano,ADA,2017-10-05 23:59:59,0.022154,0.020859,0.021951,0.021489,5.562510e+06,5.571390e+08
2017-10-06 23:59:59,5,Cardano,ADA,2017-10-06 23:59:59,0.021542,0.018360,0.021359,0.018539,7.780710e+06,4.806646e+08
...,...,...,...,...,...,...,...,...,...,...
2021-02-23 23:59:59,1241,Cardano,ADA,2021-02-23 23:59:59,1.133705,0.824145,1.098769,0.954709,1.120190e+10,2.970337e+10
2021-02-24 23:59:59,1242,Cardano,ADA,2021-02-24 23:59:59,1.074832,0.902583,0.954958,1.051657,8.481335e+09,3.271965e+10
2021-02-25 23:59:59,1243,Cardano,ADA,2021-02-25 23:59:59,1.172732,1.017986,1.051349,1.079116,8.248286e+09,3.357399e+10
2021-02-26 23:59:59,1244,Cardano,ADA,2021-02-26 23:59:59,1.290047,0.995150,1.080828,1.241105,1.488414e+10,3.861387e+10
2021-02-27 23:59:59,1245,Cardano,ADA,2021-02-27 23:59:59,1.476653,1.234138,1.242145,1.324860,1.914198e+10,4.121970e+10

In [65]:

df=df[['Close']]
df.head(10)

                        Close
2017-10-02 23:59:59  0.025932
2017-10-03 23:59:59  0.020816
2017-10-04 23:59:59  0.021931
2017-10-05 23:59:59  0.021489
2017-10-06 23:59:59  0.018539
2017-10-07 23:59:59  0.020941
2017-10-08 23:59:59  0.020477
2017-10-09 23:59:59  0.022114
2017-10-10 23:59:59  0.021531
2017-10-11 23:59:59  0.022520

In [69]:
pred_day=7
df['Prediction']=df[['Close']].shift(-pred_day)
df

                        Close  Prediction
2017-10-02 23:59:59  0.025932    0.022114
2017-10-03 23:59:59  0.020816    0.021531
2017-10-04 23:59:59  0.021931    0.022520
2017-10-05 23:59:59  0.021489    0.026252
2017-10-06 23:59:59  0.018539    0.033641
...                       ...         ...
2021-02-23 23:59:59  0.954709         NaN
2021-02-24 23:59:59  1.051657         NaN
2021-02-25 23:59:59  1.079116         NaN
2021-02-26 23:59:59  1.241105         NaN
2021-02-27 23:59:59  1.324860         NaN

[1245 rows x 2 columns]

In [87]:
df = df[df['Prediction'].notnull()]
df

                        Close  Prediction
2017-10-02 23:59:59  0.025932    0.022114
2017-10-03 23:59:59  0.020816    0.021531
2017-10-04 23:59:59  0.021931    0.022520
2017-10-05 23:59:59  0.021489    0.026252
2017-10-06 23:59:59  0.018539    0.033641
...                       ...         ...
2021-02-16 23:59:59  0.870951    0.954709
2021-02-17 23:59:59  0.890920    1.051657
2021-02-18 23:59:59  0.914119    1.079116
2021-02-19 23:59:59  0.927649    1.241105
2021-02-20 23:59:59  1.122958    1.324860

[1238 rows x 2 columns]

In [97]:
X=np.array(df.iloc[:,:1])
X

array([[0.0259318 ],
       [0.0208158 ],
       [0.0219315 ],
       ...,
       [0.91411855],
       [0.9276491 ],
       [1.12295796]])

In [105]:
y=np.array(df['Prediction'])
y

array([0.0221137 , 0.0215313 , 0.0225195 , ..., 1.0791162 , 1.24110539,
       1.32486029])

In [106]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2)

In [127]:
from sklearn.ensemble import RandomForestRegressor
regr = RandomForestRegressor(max_depth=15, random_state=500)
regr.fit(X, y)
regr.score(X_test,y_test)

0.9720901430906618

In [130]:
pred=regr.predict([X_test[10]])
print("Prediction price")
print(pred)
print("Real price")
print([y_test[10]])

Prediction price
[0.13853466]
Real price
[0.1327030062675476]